<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href=" {{ asset('style/style.css') }} ">
       <link href="https://fonts.googleapis.com/css?family=Bubbler+One&display=swap" rel="stylesheet"> 
        <title>Mes recettes de pâtes</title>
    </head>
    <body>
    <header>
         <img src="{{ asset('img/banner.jpg') }}" alt="plat de pâtes">
         <h1> Plats de pâtes autour du monde</h1>
    </header>
    
    <nav>
        <h2>Les Recettes</h2>
        <ul>
            <li>Italiennes</li>
            <li>Chinoises</li>
            <li>Coréennes</li>
            <li>Japonaises</li>
        </ul>
    </nav>

    <main>
        <section>
            <article>
                <div class="recipe">
                        <img src="img/pates_bolo.jpeg" alt="photo de plat">
                        <div class="recipe__resume">
                            <h3 class="recipe__title">Nom de la recette</h3>
                            <p class="recipe__description">"Descriptif  de la recette" Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi dicta quidem sint asperiores excepturi sequi ab labore quam vel quo sit aliquam tempore ex ducimus molestiae, provident nostrum sapiente cupiditate. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, distinctio reprehenderit deserunt animi magnam cumque impedit beatae accusantium optio eius illum error doloremque commodi est. Corporis cum debitis distinctio alias.</p>
                        </div>
                </div>
    
                <div class="method">
                    <aside>
                        <h4>Ingrédients</h4>
                        <ul>
                            <li>dgseg</li>
                            <li>sdg</li>
                            <li>sdg</li>
                            <li>sdgs</li>
                            <li>sdgsdg</li>
                            </ul>
        
                        <h4>Ustensiles</h4>
                        <ul>
                            <li>sdgsg</li>
                            <li>sdgss</li>
                            <li>sgfgfs</li>
                            <li>sgsf</li>
                            <li>zeqzf</li>
                        </ul>
                    </aside>
        
                    <div class="steps">
                        <h4>Etapes de la recette</h4>
                        <ol>
                            <li><span>Etape 1</span> <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, maiores! Nulla, fugit provident! Hic animi quidem illum saepe natus ut exercitationem nihil necessitatibus! Magnam maxime perferendis illum. Assumenda, voluptatibus ex.</p></li>

                            <li><span>Etape 2 </span><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci earum voluptatem quas, doloribus dolore vel distinctio tempora sint atque hic, laborum deleniti et error at sit reiciendis unde facilis! Praesentium.</p></li>

                            <li><span>Etape 3</span> <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis mollitia facere unde alias, commodi dolore iure delectus temporibus ducimus aut a, optio explicabo quam fugit, aliquam ratione esse earum odit?</p></li>

                            <li><span>Etape 4</span> <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo numquam praesentium, consectetur velit porro consequuntur alias exercitationem fuga aliquid rerum magni qui repellendus natus minima quasi tenetur quidem cumque quod?</p></li>

                            <li><span>Etape 5</span> <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque atque dolore harum adipisci fuga possimus dolorum unde quos, amet pariatur accusamus nesciunt perspiciatis. Odio temporibus alias similique maiores beatae doloribus.</p></li>

                            <li><span>Etape 6</span> <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, maiores! Nulla, fugit provident! Hic animi quidem illum saepe natus ut exercitationem nihil necessitatibus! Magnam maxime perferendis illum. Assumenda, voluptatibus ex.</p></li>

                            <li><span>Etape 7 </span><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci earum voluptatem quas, doloribus dolore vel distinctio tempora sint atque hic, laborum deleniti et error at sit reiciendis unde facilis! Praesentium.</p></li>

                            <li><span>Etape 8 </span><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis mollitia facere unde alias, commodi dolore iure delectus temporibus ducimus aut a, optio explicabo quam fugit, aliquam ratione esse earum odit?</p></li>

                            <li><span>Etape 9</span> <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo numquam praesentium, consectetur velit porro consequuntur alias exercitationem fuga aliquid rerum magni qui repellendus natus minima quasi tenetur quidem cumque quod?</p></li>
                            
                            <li><span>Etape 10</span> <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque atque dolore harum adipisci fuga possimus dolorum unde quos, amet pariatur accusamus nesciunt perspiciatis. Odio temporibus alias similique maiores beatae doloribus.</p></li>
                        </ol>
                    </div>
                </div>
            </article>

            <article class="comments">
                <h5>Avis des visiteurs</h5>

                <table>
                
                </table>

            </article>
        </section>
    </main>

    <footer>
         <p>Coyright "Plats de pâtes autour du monde"</p>
    </footer>

    </body>
</html>
